# Dependencies
node_modules
.pnpm-store
.pnp
.pnp.js

# Build outputs
dist
build
.next
out
.turbo

# Testing
coverage
.nyc_output

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Cache
.cache
.eslintcache
.prettiercache
*.tsbuildinfo

# Prisma
prisma/*.db
prisma/*.db-journal

# Sentry
.sentryclirc

# Vercel
.vercel

# Expo
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Debug
*.pem

# Local Netlify folder
.netlify

# Storybook
storybook-static

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Kubernetes secrets
**/kubernetes/secrets/*
!**/kubernetes/secrets/.gitkeep

# Docker
.docker

# Misc
*.pem
*.crt
*.key
!**/fixtures/**
